<section><h2 id="about-me">关于我</h2>
    <hr class="bar"/>
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb"><p>我帅，我可爱，我还爱自恋，我叫袁志荣，来自江西，15年7月脱离了悠闲的大学，涌入社会，
        从一无所知到渐渐拨开云雾，从测试转岗到前端，从最初懵懂、迷茫的状态摸爬滚打到现在，太多的心路历程，
        庆幸现在还活着，哈哈，没辣么可怕啦，一路以来，得到很多人的帮助，是他们，让我坚持到了现在，感谢他们，
        谢谢，经过一年多的历练，现在是一名前端工程师，目前就职于浙江心怡科技供应链管理有限公司，2017已至，
        接下来肯定还会有更多的挑战，但我无所畏，加油，2017！</p><p>精通word、PPT制作，对视频剪辑有浓厚的兴趣，
        我的优酷视频主页：<a target="_blank" href="http://i.youku.com/i/UNTQyNzg1NzYw/videos?spm=a2hzp.8244740.0.0">
            http://i.youku.com/i/UNTQyNzg1NzYw/videos?spm=a2hzp.8244740.0.0</a></p></div>
    <div class="skill-lock"></div>
</section>