<div class="history">
    <div class="cd-timeline-header"><h2 id="Experenice">我的经历</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2 class="story-heading">就读江西农业大学商学院</h2>
                <P>2011年9月，进入江西农业大学商学院，就读计算机科学与技术专业，大学期间，积极组织参与各项学生活动，在校的学生干部工作极大地提升我的交际能力、沟通能力，至少在我看来，我觉得现在在为人处事上、与人沟通协调上还都是OK的。</P>
                <span class="cd-date">2011.9-2014.12</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>心怡科技实习</h2>
                <p>2014年12月，入职于浙江心怡科技供应链管理有限公司（原广东心怡科技物流有限公司），实习期间，特别是前期，坦白讲，太多的心酸痛苦，从未接触物流行业的我对于那些系统业务逻辑简直是两眼一抹黑，一个个PRD文档看得发慌、发困，也是得到了同事、表哥的鼓励，让我选择继续坚持，文档一遍看不懂，看两遍，两遍不够接着第三遍，还有不解的就找同事帮忙解释，一点不夸张，最后，算是比较理解了整个仓储物流系统的业务逻辑。从此，也让我坚信，有的事情看起来可怕，但是只要我们强劲的去啃，一天不够，两天、两月，没有什么是拿不下来的，接着，慢慢开始了我的软件测试工作，一段时间后，独立负责了WMS系统库内模块的测试工作。</p>
                <span class="cd-date">2014.12-2015.7</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>软件测试工程师</h2>
                <p>2015年7月份，成为心怡科技的正式员工，负责公司核心产品仓易宝系统（WMS）的功能测试，8月份至次年1月，负责了广州、上海、天津、无锡多个仓的WMS系统培训及开仓前的各项准备工作，11月份还驻仓支持双十一现场作业，但是工作几个月后，在测试岗位上失去了前进的动力，感觉停滞不前，也并不太喜欢测试这种重复性很高的工作，当时还处在一个很迷茫的状态，又不知接下的路在何方，同事的建议和个人的思考后，选择了前端开发的方向，但是作为一个职场新人，技术开发方面是张白纸，为此，同期工作之余开始系统性的自学web前端各项技术。</p>
                <span class="cd-date">2015.7-2016.2</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/web-programming.svg" alt="Picture"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>前端开发工程师</h2>
                <p>通过自己的长期自学，于16年春节前，通过公司相关考核，春节后，正式转岗为一名前端开发工程师，主要负责公司新系统OMS的前端开发，期间，也开发了钉钉的内嵌应用"会议室预定"、"OA"，以及公司核心品牌仓易宝官网(<a href="http://cangyibao.com" target="_blank">http://cangyibao.com</a>)，这一年，是我学习最多、进步最大的一年。从未做过项目的我，从OMS项目立项到开发，全程参与，受益匪浅，该项目采用React进行开发，并且参与开发了公司内部前端框架，由于做的企业级应用系统，前后端数据交互在工作中占相当大比重，使我对前后端交互、业务逻辑有比较深刻的理解。开发钉钉的两个应用分别采用了React，Jingle，整个项目完工下来，踩过了无数坑，让我对移动端认识更全面了，不得不说的是，这一年，让我在html、css方面进步最大的是参与仓易宝网站的开发，尤其是要做到兼容IE8，从中学到了怎么布局、怎么画三角形、块元素怎么垂直居中、怎么清浮动、伪类的使用等等。漫漫前端路，要学的东西还有无穷尽，唯有不断学习进步，充实自己，才能不被淘汰，加油！</p>
                <span class="cd-date">2016.2-Current</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block--></div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/hosting.svg" alt="Location"/></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content"><h2>路虽远 无所畏</h2>
                <p>2017将至，接下来，坚持阅读和写作的习惯，保持身体健康，我的梦想依旧，不畏惧前行的路，会继续勤奋着，不断地充实自己，当然，也希望荷包充实点。</p>
                <span class="cd-date">Current-Future</span></div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div>
            </div><!-- cd-timeline--></div>
    </section>
    <div class="cd-timeline-header"><h2></h2></div>
</div>