<section><h2 id="Contact">给我留言</h2>
    <hr class="bar"/>
    <form method="post" action="//formspree.io/283211086@qq.com">
        <div class="contact-info-group"><label><span>您的姓名</span><input type="text"
                                                                       name="name"/></label><label><span>您的邮箱</span><input
                type="email" name="_replyto"/></label></div>
        <label><span>请填写您的留言</span><textarea name="Message"></textarea>
            <div class="submit-wrap"><input type="submit" value="提交"/></div>
        </label></form>
</section>